
.box_Users_message::-webkit-scrollbar {
  width: 4px;
  background: #fff;
  border-radius: 1000px;

}

/* Track */

/* Handle */
.box_Users_message::-webkit-scrollbar-thumb {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 400px;
 
  background: #989797;
}
.Modal-Body-messages-send::-webkit-scrollbar-thumb {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 400px;
   
    background: #989797;
  }
  .Modal-Body-messages-send::-webkit-scrollbar {
    width: 4px;
    background: #fff;
    border-radius: 1000px;
  
  }