.video .previous {
    position: relative;
    grid-column-start:1;
grid-row-start: 2;

    cursor: pointer;
    width: 35%;
    height: 100%;
    margin-right: auto;


}
.video  .next {
    position: relative;
    grid-column-start: 3;
    grid-row-start: 2;

width: 35%;
height: 100%;
cursor: pointer;
margin-left: auto;

}
.video .svg{
    color: white;
    position: absolute;
    top : 50%
}

.video{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: auto;
    height: 50%;
    grid-row-start: 2;
    grid-row-end: 2;
}

.video video{
    /* width: 100%; */
    grid-column-start:2;
    grid-row-start: 2;

    margin: auto;
    width: 80%;
    height: 80%;
}

.model-show-stories{
    background-color: rgb(20, 52, 178);
}

.model-show-stories .model-content{
    width: 50%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}