* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, segoe ui,
    helvetica neue, Arial, sans-serif;
}
body {
  /* background-color: red; */
}

.status {
  display: flex;
  position: relative;
  align-items: center;
}

.roundCircle {
  height: 13px;
  width: 13px;
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 30px;
  z-index: 20;
  margin: 2px;
}

.status img {
  position: relative;
  z-index: 10;
}

.statusOffline {
  display: flex;
  position: relative;
  align-items: center;
}

.greyCircle {
  height: 16px;
  width: 16px;
  background-color: #87898b;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 30px;
  z-index: 20;
  margin: 2px;
}

.statusOffline img {
  position: relative;
  z-index: 10;
}

.containerPosts {
  /* margin-top: 10px; */
  width: 40vw;
  border: 1px ridge #e8e8e8;
  border-radius: 10px;
  background-color: #fff;

  min-width: 100px;
}
.navCreatePost {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  background: #fcfcfc;
  border-radius: 10px 10px 0 0;
}

.navCreatePost .box {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 0.7rem;
  color: #757a91;
  font-weight: 500;
  padding: 0.75em !important;
  cursor: pointer;
}
.navCreatePost .box:hover {
  border-bottom-color: #d1d1d1;
  background-color: #f4f4f4;
}
.navCreatePost .active {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  border-radius: -20px;
}
.navCreatePost .active:hover {
  border-bottom-color: #fff;
  background-color: #fff;
}
.navCreatePost .box * {
  padding: 2px;
}
.contentCreatePost {
  padding: 26px;
  padding-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #e8e8e8;
}

/*  */

.compose {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Style for user profile section */
.compose-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.compose-form img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.compose-form textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
.controlCreateText {
  width: 100%;
  margin-left: 10px;
}

#publish {
  width: 100%;
  padding: 0;
  border-color: transparent;
  resize: none;
  box-shadow: none !important;
}
textarea {
  resize: vertical;
  outline: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}
textarea {
  font-family: monospace;

  text-rendering: auto;

  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  padding: 2px;
  white-space: pre-wrap;
}

.imageClod {
  color: #41434c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 8px;
  border-radius: 0 0 0.85rem 0.85rem;
  background: #fff;

  border: none;
  padding-left: 10px;
}

.imageClodx {
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  color: #757a91;
  background-color: #f0f0f0;
  max-width: 10vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.postsUserNav {
  padding: 16px 20px 16px 16px;
}

.postsUserNav:last-child {
  justify-content: flex-end;
}
circle {
  color: #757a91;
}

.bodyPostImage {
  padding-top: 10px;
  color: #757a91;
  font-size: 0.9rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.usernameLap {
  font-size: 0.9rem;
  font-weight: 500;
  color: #393a4f;
  transition: color 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.xx {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.6rem;
  color: #757a91;
}
.card-footer-post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  /* padding: 0 10px 0 10px; */
  margin: 0;

  border-top: 1px solid hwb(0 91% 9%);
  background-color: transparent;
  border-top: 1px solid #ffffff;
  align-items: stretch;
  display: flex;
  max-height: 10vw;
  overflow: hidden;
}
.comment-ic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;
}
.icn-comment {
  position: absolute;
  z-index: 1;
  bottom: -12px;
  right: 65px;
  background: #6ba4e9;
  box-shadow: 0 14px 26px -12px rgba(85, 150, 230, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 150, 230, 0.2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: #fcfcfc;
  opacity: 1;
  transition: all 0.3s;
  width: 50px;
  height: 50x;
  padding: 10px;
  cursor: pointer;
  flex: 1px;
}
.imagePosts {
  box-shadow: 0 14px 26px -12px rgba(154, 154, 154, 0.42),
    0 6px 6px 0 rgba(114, 114, 114, 0.12), 0 8px 4px -2px rgba(80, 80, 80, 0.2) !important;
}
.icn-comment:hover {
  background-color: #4d4b89;
}
.icn-like {
  position: absolute;
  z-index: 2;
  bottom: -12px;
  right: 10px;
  background: #6ba4e9;
  box-shadow: 0 14px 26px -12px rgba(85, 150, 230, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 150, 230, 0.2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: #fcfcfc;
  opacity: 1;
  transition: all 0.3s;
  width: 50px;
  height: 50x;
  padding: 10px;
  cursor: pointer;
}
.num {
  font-size: 0.9rem;
  color: #888da8;
  margin: 0 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
}
.navPostsDot {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cont_comment_box {
  max-height: 400px;
  /* position: absolute; */
  /* z-index: 5; */
  overflow-y: auto;
  border-radius: 10px;
  border: 4px solid #fff; /* Adjust the border color */
  padding: 12px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Add a subtle box shadow for depth */
}

.cont_comment_box::-webkit-scrollbar {
  width: 4px;
  background: #fff;
  border-radius: 1000px;
}

/* Track */

/* Handle */
.cont_comment_box::-webkit-scrollbar-thumb {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 400px;

  background: #989797;
}

/* Handle on hover */

.com-text {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, segoe ui,
    helvetica neue, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #757a91;
}
.input-file {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-label {
  display: inline-block;
  padding: 6px 20px;
  background-color: rgb(247, 247, 247);
  color: rgb(136, 141, 185);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px; /* Adjust as needed to accommodate the icon */
  border-radius: 500px;
}

.ic {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.file-label:hover {
  background-color: #f2f2f2;
}
.containerss {
  position: absolute;
  top: 97.4%;
  left: 94.4%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  bottom: -12px;
  right: 65px;
  background: #fff;
  box-shadow: 0 14px 26px -12px rgba(85, 150, 230, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 150, 230, 0.2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: #fcfcfc;
  opacity: 1;
  transition: all 0.3s;
  width: 50px;
  height: 50x;
  padding: 10px;
  cursor: pointer;
}

.containerssCommnet {
  position: absolute;
  top: 97.4%;
  left: 94.4%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  bottom: -12px;
  right: 65px;
  background: #6ba4e9;
  box-shadow: 0 14px 26px -12px rgba(85, 150, 230, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 150, 230, 0.2) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: #fcfcfc;
  opacity: 1;
  transition: all 0.3s;
  width: 50px;
  height: 50x;
  padding: 10px;
  cursor: pointer;
}
/* 
.containerss .preloader {
  animation: rotate 4s cubic-bezier(0.75, 0, 0.5, 1) infinite;
} */

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.preloader span {
  --c: #f23f3f;
  position: absolute;
  display: block;
  height: 12px; /* Adjust the size of the points */
  width: 12px; /* Adjust the size of the points */
  background: red; /* Set the background color to white */
  border: 1px solid var(--c);
  border-radius: 50%;
}

.preloader span:nth-child(1) {
  transform: translate(-5px, -5px);
  animation: shape_1 4s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_1 {
  60% {
    transform: scale(0.4);
  }
}

.preloader span:nth-child(2) {
  transform: translate(5px, -5px);
  animation: shape_2 4s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_2 {
  40% {
    transform: scale(0.4);
  }
}

.preloader span:nth-child(3) {
  position: relative;
  border-radius: 50%;
  transform: scale(0.6) rotate(-45deg);
  animation: shape_3 4s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_3 {
  50% {
    border-radius: 50%;
    transform: scale(0.6) rotate(-45deg);
  }

  100% {
    transform: scale(0.6) rotate(-45deg);
  }
}

@keyframes shadow {
  50% {
    transform: translateX(-50%) scale(0.5);
    border-color: red;
  }
}

@keyframes shadow {
  50% {
    transform: translateX(-50%) scale(0.5);
    border-color: red;
  }
}
.cont_comment_box_x {
  padding: 0px 10px 10px 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333333c2;
}
.line {
  width: 500px;
  height: 1px;
  background-color: #757a9128;
}
.const_like {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.raised {
  background: #3d70b2;
  border-color: #3d70b2;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 18px 22px;
  border-radius: 0.65rem;
  transition: all 0.3s;

  border-color: #dbdbdb;
  border-width: 1px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 18px;
  right: 5px;
  margin: 4px;
}

.post-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 5;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  z-index: 2;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 4;
}

button:hover {
  background-color: #0056b3;
}
.updateImage {
  width: 500px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.updateImage label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.containerss:hover {
  background-color: #cfcfcf;
}
.containerss:active {
  background-color: #515152;
}
