* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 244, 244);
}
.none {
  display: none;
}
.colum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#mainPage {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  /* background-color: white; */
  /* height:100vmax; */
  width: 100%;
  /* padding: 20px 150px 0px 150px; */
  align-items: center;
  justify-content: center;
}

.panel2 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 5%;
  justify-content: center;
}
.ProfilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid gray;
}
.follower {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  gap: 40px;
}
.followerr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}
.followers {
  background-color: #efefef;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.username {
  padding: 12px;
  font-weight: 600;
}
.bio {
  width: 40px;
  font-weight: 500;
}
.edit {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.po {
  background-color: rgb(168, 159, 159);
  border-radius: 50%;
  padding: 30px;
}
.camera {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 50px;
  z-index: 20;
  /* background-color: rgb(168, 159, 159) ; */
  cursor: pointer;
}
.edit div {
  position: relative;
  z-index: 10;
}
.level2 {
  display: flex;
  width: 50%;
  border-top: 1px solid grey;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
}
.wrapping {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 75px;
}
.posts-saved {
  padding: 0px 8px;
  font-weight: 500;
  color: #8a90a3;
}
.p-s {
  display: flex;
  padding: 0px 50px;
  /* margin-top: 10px; */
}
.p-s:hover {
  border-top: 1px solid gray;
  cursor: pointer;
}
.posts-saved:hover {
  color: black;
}
.grid-media {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: self-start;
  /* height: 100%; */
}
.img-post {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px #727274);
}
#contained-modal-title-vcenter {
  display: flex;
  width: 100%;
  justify-content: center;
}
#center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.pop-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dee2e6;
  padding: 10px 0px;
}
.pop-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.imgEditProfile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px;
}
#Modal.Body {
  padding: 0px;
}
.name-bio-pop {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding-left: 20px;
}

.name-pop {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  color: black;
  font-weight: 600;
}
.bio-pop {
  padding: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #757a91;
}

.button-pop {
  background-color: rgb(232, 232, 232);
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  /* line-height: 2.5em; */
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: #0077ff;
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  font-weight: 700;
}

.button-pop::before {
  position: absolute;
  content: "";
  background: #0077ff;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.button-pop:hover {
  color: white;
}

.button-pop:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.button-pop:hover::before {
  top: -30px;
  left: -30px;
}
.mainEditProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #efefef;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #efefef;
  transition-duration: 0.3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: black;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.4s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.4s;
  box-shadow: 2px 2px 0px #efefef;
}
